{{<layout}}
{{$extra_css}}{{/extra_css}}
{{$content}}
<div class="content-heading">
    Companies
    <small>Companies sent by AppCarousel</small>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <h2 class="text-thin"></h2>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Companys |
                <small>Companys sent by AppCarousel</small>
            </div>
            <div class="panel-body">
                <div id="companyTableToolbar" class="btn-group">
                    <button id="editCompanyButton" type="button" class="btn btn-default" style="display:none;">
                        <em class="fa fa-edit fa-fw"></em>Edit
                    </button>
                </div>
                <table id="companyTable"
                       data-url="/api/companies"
                       data-id-field="id"
                       data-icons-prefix="fa"
                       data-classes="table table-hover table-condensed"
                       data-search="true"
                       data-click-to-select="true"
                       data-single-select="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-toolbar="#companyTableToolbar"
                       width="auto">
                </table>
            </div>
        </div>
    </div>
</div>
{{/content}}
{{$extra_js}}
<script>
  $(document).ready(function () {

    function companyGridDateFormatter(value, row, index) {
      var d = new moment(value);
      return d.format('YYYY-MM-DD h:mm a');
    };

    var companyGrid = $("#companyTable").bootstrapTable({
      columns: [
        {
          field: 'state',
          checkbox: true,
          align: 'center',
          valign: 'middle'
        },
        {
          title: 'ID',
          field: 'id',
          align: 'center',
          valign: 'middle',
          sortable: true,
          visible: false,
          switchable: true
        },
        {
          title: 'Name',
          field: 'name',
          sortable: true
        },
        {
          title: 'Email',
          field: 'email',
          sortable: true
        },
        {
          title: 'Phone Number',
          field: 'phoneNumber',
          sortable: true
        },
        {
          title: 'Website',
          field: 'website',
          sortable: true
        },
        {
          title: 'Country',
          field: 'country',
          sortable: true
        },
        {
          title: 'Created',
          field: 'dateCreated',
          sortable: true,
          visible: true,
          align: 'center',
          width: 150,
          formatter: companyGridDateFormatter
        },
        {
          title: 'Updated',
          field: 'lastUpdated',
          sortable: true,
          visible: true,
          align: 'center',
          width: 150,
          formatter: companyGridDateFormatter
        }
      ]
    });

    companyGrid.on('check.bs.table', function (row) {
      $('#editCompanyButton').show();
    });

    companyGrid.on('uncheck.bs.table', function (row) {
      $('#editCompanyButton').hide();
    });

    $('#editCompanyButton').click(function () {
      var selectedRows = $("#companyTable").bootstrapTable('getSelections');
      if (selectedRows.length != 1) {
        return;
      }
      var data = selectedRows[0];

      window.location = "/companies/{0}".format(data.id);
    });
  });


</script>
{{/extra_js}}
{{/layout}}
