<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="stakeholder, response, plan">
  <title>AppCarousel - Integration Challenge</title>

  <!--Vendor css-->
  <link rel="stylesheet" href="/assets/js/angel/jq/vendor/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/js/angel/jq/vendor/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="/assets/js/angel/jq/vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="/assets/js/angel/jq/vendor/whirl/dist/whirl.css">
  <link rel="stylesheet" href="/assets/js/angel/jq/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
  <link rel="stylesheet" href="/assets/js/angel/jq/vendor/chosen_v1.2.0/chosen.min.css">
  <link rel="stylesheet" href="/assets/js/angel/jq/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="/assets/js/angel/jq/vendor/sweetalert/dist/sweetalert.css">

  <!--Bootstrap Grid css-->
  <link rel="stylesheet" href="/assets/js/lib/bootstrap-table/dist/bootstrap-table.css">

  <!--Application css-->
  <link rel="stylesheet" href="/assets/js/angel/jq/app/css/bootstrap.css" id="bscss">
  <link rel="stylesheet" href="/assets/js/angel/jqs/app/css/app.css" id="maincss">
  {{$extra_css}}{{/extra_css}}
</head>

<body class="aside-collapsed">
<div class="wrapper">

  <header class="topnavbar-wrapper">
    <nav role="navigation" class="navbar topnavbar">

      <div class="navbar-header">
        <a href="#/" class="navbar-brand">
          <div class="brand-logo">
            <img src="/assets/img/logo.png" alt="App Logo" class="img-responsive">
          </div>
          <div class="brand-logo-collapsed">
            <img src="/assets/img/logo-single.png" alt="App Logo" class="img-responsive">
          </div>
        </a>
      </div>

      <div class="nav-wrapper">
        <ul class="nav navbar-nav">
          <li>
            <a href="#" data-toggle-state="aside-collapsed" class="hidden-xs">
              <em class="fa fa-navicon"></em>
            </a>
            <a href="#" data-toggle-state="aside-toggled" data-no-persist="true" class="visible-xs sidebar-toggle">
              <em class="fa fa-navicon"></em>
            </a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="visible-lg">
            <a href="#" data-toggle-fullscreen="">
              <em class="fa fa-expand"></em>
            </a>
          </li>
        </ul>
      </div>

    </nav>
  </header>

  <aside class="aside">
    <div class="aside-inner">
      <nav data-sidebar-anyclick-close="" class="sidebar">
        <ul class="nav">
          <li class="nav-heading ">
            <span data-localize="sidebar.heading.HEADER"></span>
          </li>
          <li class=" ">
            <a href="/events" title="Events">
              <em class="fa fa-cubes"></em>
              <span data-localize="sidebar.nav.Projects">Events</span>
            </a>
          </li>
          <li class=" ">
            <a href="/users" title="Users">
              <em class="fa fa-users"></em>
              <span data-localize="sidebar.nav.Users">Users</span>
            </a>
          </li>
          <li class=" ">
            <a href="/companies" title="Companies">
              <em class="fa fa-building"></em>
              <span data-localize="sidebar.nav.Companies">Companies</span>
            </a>
          </li>
          <li class=" ">
            <a href="/subscriptions" title="Subscriptions">
              <em class="fa fa-book"></em>
              <span data-localize="sidebar.nav.Subscriptions">Subscriptions</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

<section>
<div class="content-wrapper">
{{$content}}{{/content}}
</div>
</section>
  <footer>
    <span>$copy; 2015 - Deloitte</span>
  </footer>
</div>
<div id="modalWindow" class="modal" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top: 25px;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button id="modalSaveButton" type="button" class="btn btn-square btn-default">Update</button>
        <button type="button" data-dismiss="modal" class="btn btn-square btn-default">Close</button>
      </div>
    </div>
  </div>
</div>
<!--------------------Vendor js-------------------------->
<script src="/assets/js/angel/jq/vendor/modernizr/modernizr.js"></script>
<script src="/assets/js/angel/jq/vendor/jquery/dist/jquery.js"></script>
<script src="/assets/js/angel/jq/vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="/assets/js/angel/jq/vendor/jquery.easing/js/jquery.easing.js"></script>
<script src="/assets/js/angel/jq/vendor/animo.js/animo.js"></script>
<script src="/assets/js/angel/jq/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/assets/js/angel/jq/vendor/screenfull/dist/screenfull.js"></script>
<!--<script src="/assets/js/angel/jq/vendor/bootstrap-filestyle/src/bootstrap-filestyle.js"></script>-->
<!--<script src="/assets/js/angel/jq/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>-->
<!--<script src="/assets/js/angel/jq/vendor/chosen_v1.2.0/chosen.jquery.min.js"></script>-->
<!--<script src="/assets/js/angel/jq/vendor/jquery.inputmask/dist/jquery.inputmask.bundle.min.js"></script>-->
<!--<script src="/assets/js/angel/jq/vendor/sweetalert/dist/sweetalert.min.js"></script>-->
<!--<script src="/assets/js/angel/jq/vendor/parsleyjs/dist/parsley.min.js"></script>-->
<!--date time picker & formatter-->
<script src="/assets/js/angel/jq/vendor/moment/min/moment-with-locales.min.js"></script>
<!--<script src="/assets/js/angel/jq/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>-->

<!--Imported Libraries-->
<script src="/assets/js/lib/bootstrap-table/dist/bootstrap-table-all.js"></script>
<script src="/assets/js/lib/notify/bootstrap-notify.min.js"></script>

<!--App js-->
<script src="/assets/js/app.js"></script>

<!--Page js-->
{{$extra_js}}{{/extra_js}}
</body>

<!--fsdfsd-->
</html>
