{{<layout}}
{{$extra_css}}{{/extra_css}}
{{$content}}
<div class="content-heading">
    Subscriptions
    <small>Subscriptions sent by AppCarousel</small>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <h2 class="text-thin"></h2>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Subscriptions |
                <small>Subscriptions sent by AppCarousel</small>
            </div>
            <div class="panel-body">
                <div id="subscriptionTableToolbar" class="btn-group">
                    <button id="editSubscriptionButton" type="button" class="btn btn-default" style="display:none;">
                        <em class="fa fa-edit fa-fw"></em>Edit
                    </button>
                </div>
                <table id="subscriptionTable"
                       data-url="/api/subscriptions"
                       data-id-field="id"
                       data-icons-prefix="fa"
                       data-classes="table table-hover table-condensed"
                       data-search="true"
                       data-click-to-select="true"
                       data-single-select="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-toolbar="#subscriptionTableToolbar"
                       width="auto">
                </table>
            </div>
        </div>
    </div>
</div>
{{/content}}
{{$extra_js}}
<script>
  $(document).ready(function () {

    function subscriptionGridDateFormatter(value, row, index) {
      var d = new moment(value);
      return d.format('YYYY-MM-DD h:mm a');
    };

    function payloadFormatter(value, row, index){
        var account = jQuery.parseJSON(row.transactionLog).payload.account;
        var order = jQuery.parseJSON(row.transactionLog).payload.order;

        var r = '';
        if(account){
         r = '<ul><li>Account Identifier: {0}</li><li>Status: {1}</li></ul>'.format(account.accountIdentifier, account.status);
        }else{
            r = '<ul><li>Edition Code: {0}</li><li>Pricing Duration: {1}</li>'.format(order.editionCode, order.pricingDuration);

            for(var i=0, j=order.items.length; i<j; i++){
                r = r + '<li>Unit {0}: Quantity {1}</li>'.format(order.items[i].unit, order.items[i].quantity);
            }
            r = r + '</ul>';
        }


        return r;
    };

    function marketPlaceFormatter(value, row, index){
        var d = jQuery.parseJSON(row.transactionLog).marketplace;
        var r = '<ul><li>Base Url: {0}</li><li>Partner: {1}</li></ul>'.format(d.baseUrl, d.partner);
        return r;
    };

    var subscriptionGrid = $("#subscriptionTable").bootstrapTable({
      columns: [
        {
          field: 'state',
          checkbox: true,
          align: 'center',
          valign: 'middle'
        },
        {
          title: 'ID',
          field: 'id',
          align: 'center',
          valign: 'middle',
          sortable: true,
          visible: false,
          switchable: true
        },
        {
          title: 'Edition',
          field: 'editionCode',
          sortable: true
        },
        {
          title: 'Status',
          field: 'status',
          sortable: true
        },
        {
          title: 'User ID',
          field: 'userId',
          visible: false
        },
        {
          title: 'MarketPlace ID',
          field: 'marketPlaceId',
          visible: false
        },
        {
          title: 'Created',
          field: 'dateCreated',
          sortable: true,
          visible: true,
          align: 'center',
          width: 150,
          formatter: subscriptionGridDateFormatter
        },
        {
          title: 'Updated',
          field: 'lastUpdated',
          sortable: true,
          visible: true,
          align: 'center',
          width: 150,
          formatter: subscriptionGridDateFormatter
        }
      ]
    });

    subscriptionGrid.on('check.bs.table', function (row) {
      $('#editSubscriptionButton').show();
    });

    subscriptionGrid.on('uncheck.bs.table', function (row) {
      $('#editSubscriptionButton').hide();
    });

    $('#editSubscriptionButton').click(function () {
      var selectedRows = $("#subscriptionTable").bootstrapTable('getSelections');
      if (selectedRows.length != 1) {
        return;
      }
      var data = selectedRows[0];

      window.location = "/subscriptions/{0}".format(data.id);
    });
  });


</script>
{{/extra_js}}
{{/layout}}
