{{<layout}}
{{$extra_css}}{{/extra_css}}
{{$content}}
<div class="content-heading">
  Users
  <small>Users sent by AppCarousel</small>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <h2 class="text-thin"></h2>
  </div>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Users |
        <small>Users sent by AppCarousel</small>
      </div>
      <div class="panel-body">
        <div id="userTableToolbar" class="btn-group">
          <button id="editUserButton" type="button" class="btn btn-default" style="display:none;">
            <em class="fa fa-edit fa-fw"></em>Edit
          </button>
        </div>
        <table id="userTable"
               data-url="/api/users"
               data-id-field="id"
               data-icons-prefix="fa"
               data-classes="table table-hover table-condensed"
               data-search="true"
               data-click-to-select="true"
               data-single-select="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-toolbar="#userTableToolbar"
               width="auto">
        </table>
      </div>
    </div>
  </div>
</div>
{{/content}}
{{$extra_js}}
<script>
  $(document).ready(function () {

    function userGridDateFormatter(value, row, index) {
      var d = new moment(value);
      return d.format('YYYY-MM-DD h:mm a');
    };

    function nameFormatter(value, row, index) {
      var r = '{0} {1}'.format(row.firstName, row.lastName)
      return r;
    };

    var userGrid = $("#userTable").bootstrapTable({
      columns: [
        {
          field: 'state',
          checkbox: true,
          align: 'center',
          valign: 'middle'
        },
        {
          title: 'ID',
          field: 'id',
          align: 'center',
          valign: 'middle',
          sortable: true,
          visible: false,
          switchable: true
        },
        {
          title: 'OpenId',
          field: 'openId',
          sortable: true
        },
        {
          title: 'Email',
          field: 'email',
          sortable: true
        },
        {
          title: 'Name',
          field: 'firstName',
          sortable: true,
          formatter: nameFormatter
        },
        {
          title: 'Address',
          field: 'address'
        },
        {
          title: 'Language',
          field: 'language'
        },
        {
          title: 'Department',
          field: 'companyDepartment'
        },
        {
          title: 'Title',
          field: 'companyTitle'
        },
        {
          title: 'Hourly Rate',
          field: 'hourlyRate'
        },
        {
          title: 'Postal Code',
          field: 'zipCode'
        },
        {
          title: 'TimeZone',
          field: 'timeZone'
        },
        {
          title: 'Colour',
          field: 'favoriteColor'
        },
        {
          title: 'Updated',
          field: 'lastUpdated',
          sortable: true,
          visible: false,
          align: 'center',
          width: 150,
          formatter: userGridDateFormatter
        },
        {
          title: 'Created',
          field: 'dateCreated',
          sortable: true,
          visible: false,
          align: 'center',
          width: 150,
          formatter: userGridDateFormatter
        }
      ]
    });

    userGrid.on('check.bs.table', function (row) {
      $('#editUserButton').show();
    });

    userGrid.on('uncheck.bs.table', function (row) {
      $('#editUserButton').hide();
    });

    $('#editUserButton').click(function () {
      var selectedRows = $("#userTable").bootstrapTable('getSelections');
      if (selectedRows.length != 1) {
        return;
      }
      var data = selectedRows[0];

      window.location = "/users/{0}".format(data.id);
    });
  });


</script>
{{/extra_js}}
{{/layout}}
