@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic);
/*!
 * 
 * Angle - Bootstrap Admin App + jQuery
 * 
 * Version: 3.1.0
 * Author: @themicon_co
 * Website: http://themicon.co
 * License: https://wrapbootstrap.com/help/licenses
 * 
 */
/* ========================================================================
   Component: bootstrap-reset.less
 ========================================================================== */
.glyphicon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.glyphicon.pull-left {
  margin-right: 0.3em;
}
.glyphicon.pull-right {
  margin-left: 0.3em;
}
.glyphicon.glyphicon-chevron-left:before {
  content: "\f053";
}
.glyphicon.glyphicon-chevron-right:before {
  content: "\f054";
}
.glyphicon.glyphicon-chevron-up:before {
  content: "\f077";
}
.glyphicon.glyphicon-chevron-down:before {
  content: "\f078";
}
.glyphicon.glyphicon-folder-open:before {
  content: "\f07c";
}
*:focus {
  outline: 0 !important;
}
a {
  outline: none !important;
}
a.text-muted:hover,
a.text-muted:focus {
  color: #748690;
}
hr {
  border-top: 1px solid #e4eaec;
}
[data-now] {
  display: inline-block;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.list-group {
  line-height: 1.3;
}
.list-group .list-group-item {
  padding: 10px;
}
.panel > .list-group .list-group-item {
  border-top: 0;
}
.page-header {
  border-bottom-color: #e4eaec;
}
.panel .panel-heading {
  border-bottom: 0;
  font-size: 14px;
}
.panel .panel-heading a {
  text-decoration: none !important;
}
.panel.panel-default {
  border-top-width: 3px;
}
.well {
  border: 1px solid #dde6e9;
}
.jumbotron {
  border: 1px solid #dde6e9;
}
@media only screen and (min-width: 768px) {
  .jumbotron {
    padding: 30px 15px;
  }
}
.nav-tabs > li > a {
  font-weight: bold;
  color: #515253;
  background-color: #edf1f2;
  margin: 0;
  border: 1px solid #dde6e9;
  border-radius: 0;
  padding: 10px 20px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: inherit;
  border-bottom-color: #fff;
}
.tab-content {
  padding: 10px 20px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #dde6e9;
}
.nav-pills + .tab-content {
  border: 0;
  padding: 0;
}
.btn {
  border-radius: 3px;
  font-size: 13px;
  border-color: transparent;
  -webkit-appearance: none;
  outline: none !important;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.btn.btn-link {
  box-shadow: none;
  border: 0;
}
.btn.btn-default {
  border-color: #eaeaea;
}
.input-group .btn {
  font-size: 14px;
  border-color: #dde6e9;
}
.input-group .input-sm + .input-group-btn .btn {
  font-size: 13px;
}
.form-control {
  box-shadow: 0 0 0 #000 !important;
}
.input-sm,
select.input-sm {
  height: 31px;
}
fieldset {
  padding-bottom: 20px;
  border-bottom: 1px dashed #eee;
  margin-bottom: 20px;
}
fieldset.last-child,
fieldset:last-child {
  border-bottom: 0;
}
fieldset .form-group {
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  input[type="text"],
  input[type="email"],
  input[type="search"],
  input[type="password"] {
    -webkit-appearance: none;
  }
}
.table > thead > tr > th {
  border-bottom-width: 1px;
}
.table > tbody + tbody {
  border-bottom-width: 1px;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}
.progress {
  -webkit-box-shadow: 0 0 0 #000000;
  box-shadow: 0 0 0 #000000;
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
}
.progress .progress-bar {
  -webkit-box-shadow: 0 0 0 #000000;
  box-shadow: 0 0 0 #000000;
}
.popover {
  box-shadow: 0 0 0 #000;
  border-color: #eee;
  border-bottom: 2px solid #e4eaec;
  border-radius: 3px;
}
.popover .popover-title {
  border: 0;
}
.nav.nav-pills .active > a {
  background-color: #5d9cec;
}
.dropdown-menu {
  border-radius: 3px;
}
.dropdown-header {
  color: #a1a2a3;
}
.navbar-top .navbar-nav > .active > a {
  color: #999;
}
.navbar-top .navbar-nav > .active > a:hover,
.navbar-top .navbar-nav > .active > a:focus {
  color: #d1d2d3;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #666;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #222;
}
.carousel .carousel-indicators {
  bottom: 0;
}
.carousel .carousel-control.left,
.carousel .carousel-control.right {
  background-image: none;
}
.carousel .carousel-control em {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}
.modal-backdrop {
  position: fixed;
  bottom: 0;
}
.topnavbar,
.navbar,
.navbar .dropdown-menu {
  filter: none !important;
}
/* ========================================================================
   Component: typo.less
 ========================================================================== */
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #656565;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
}
/* ========================================================================
   Component: layout.less
 ========================================================================== */
html {
  /* @replace rtl */
  direction: ltr;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}
.wrapper.ng-leave {
  display: none;
}
.wrapper > .aside {
  position: absolute;
  width: 220px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 116;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #ffffff;
}
.wrapper > .aside .aside-inner {
  padding-top: 110px;
  height: 100%;
  width: 220px;
  overflow: hidden;
}
.wrapper > .aside > .nav-floating {
  left: inherit;
  margin-left: 220px;
  z-index: 1110;
  min-width: 190px;
  overflow: auto;
}
.wrapper .dropdown-backdrop {
  z-index: 109;
}
.wrapper > section {
  position: relative;
  height: 100%;
  margin-left: 0;
  z-index: 111;
  background-color: #f5f7fa;
  margin-bottom: 60px !important;
}
.wrapper > footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  border-top: 1px solid #e4eaec;
  padding: 20px;
  z-index: 109;
}
.wrapper > footer > p {
  margin: 0;
}
.modal-open .wrapper {
  z-index: 0;
}
.content-wrapper {
  padding: 15px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: -1px;
}
.content-wrapper > .unwrap {
  margin: -15px;
}
@media only screen and (min-width: 768px) {
  .content-wrapper > .unwrap {
    margin: -20px;
  }
}
.content-wrapper > h3,
.content-wrapper > .content-heading {
  font-size: 24px;
  line-height: 1.1;
  color: #929292;
  margin: -15px;
  margin-bottom: 20px;
  padding: 15px;
  font-weight: normal;
  background-color: #fafbfc;
  border-bottom: 1px solid #cfdbe2;
}
.content-wrapper > h3 > small,
.content-wrapper > .content-heading > small {
  display: block;
  font-size: 12px;
  color: #909fa7;
}
.content-wrapper > button,
.content-wrapper > .btn {
  margin: 10px 10px 0 0;
}
.content-wrapper .container,
.content-wrapper .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: 768px) {
  .content-wrapper {
    padding: 20px;
  }
  .content-wrapper > h3,
  .content-wrapper > .content-heading {
    margin: -20px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .content-wrapper > button,
  .content-wrapper > .btn {
    margin: 0;
  }
}
@media only screen and (min-width: 768px) {
  body {
    min-height: 100%;
  }
  .wrapper > .aside .aside-inner {
    padding-top: 55px;
  }
  .wrapper > section,
  .wrapper > footer {
    margin-left: 220px;
  }
  .wrapper > section.has-sidebar-right {
    margin-right: 240px;
  }
  .wrapper > section.has-sidebar-right + .offsidebar {
    z-index: 1;
  }
}
@media only screen and (max-width: 767px) {
  .wrapper > .aside {
    margin-left: -220px;
  }
  .aside-toggled .wrapper > section,
  .aside-toggled .wrapper > footer {
    margin-left: 220px;
  }
  .aside-toggled .wrapper > .aside {
    margin-left: 0;
  }
  .csstransforms3d .wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d .wrapper > section,
  .csstransforms3d .wrapper > footer {
    margin-left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: transform 0.3s ease;
  }
  .csstransforms3d .wrapper > .aside {
    margin-left: 0;
    -webkit-transform: translate3d(-220px, 0, 0);
    transform: translate3d(-220px, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: transform 0.3s ease;
  }
  .csstransforms3d .aside-toggled .wrapper > section,
  .csstransforms3d .aside-toggled .wrapper > footer {
    -webkit-transform: translate3d(220px, 0, 0);
    transform: translate3d(220px, 0, 0);
  }
  .csstransforms3d .aside-toggled .wrapper > .aside {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@media only screen and (max-width: 767px) {
  .aside-collapsed .wrapper > .aside {
    margin-left: -70px;
  }
  .aside-collapsed.aside-toggled .wrapper > section,
  .aside-collapsed.aside-toggled .wrapper > footer {
    margin-left: 70px;
  }
  .aside-collapsed.aside-toggled .wrapper > .aside {
    margin-left: 0;
  }
  .csstransforms3d .aside-collapsed .wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d .aside-collapsed .wrapper > section,
  .csstransforms3d .aside-collapsed .wrapper > footer {
    margin-left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: transform 0.3s ease;
  }
  .csstransforms3d .aside-collapsed .wrapper > .aside {
    margin-left: 0;
    -webkit-transform: translate3d(-70px, 0, 0);
    transform: translate3d(-70px, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: transform 0.3s ease;
  }
  .csstransforms3d .aside-collapsed.aside-toggled .wrapper > section,
  .csstransforms3d .aside-collapsed.aside-toggled .wrapper > footer {
    -webkit-transform: translate3d(70px, 0, 0);
    transform: translate3d(70px, 0, 0);
  }
  .csstransforms3d .aside-collapsed.aside-toggled .wrapper > .aside {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.aside-collapsed {
  overflow-y: auto;
}
.aside-collapsed .wrapper > .aside,
.aside-collapsed .wrapper > .aside > .aside-inner {
  width: 70px;
}
.aside-collapsed .wrapper > .aside > .nav-floating {
  margin-left: 70px;
}
@media only screen and (min-width: 768px) {
  .aside-collapsed .wrapper > section,
  .aside-collapsed .wrapper > footer {
    margin-left: 70px;
  }
}
@media (max-width: 1140px) {
  .layout-fixed.aside-toggled,
  .layout-fixed.offsidebar-open {
    overflow-y: hidden;
  }
}
.layout-fixed .wrapper {
  /* only applied to sidebar */
}
.layout-fixed .wrapper .topnavbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 121;
}
.layout-fixed .wrapper > aside {
  position: fixed;
}
.layout-fixed .wrapper > .aside {
  /* safari fix */
  height: 1px;
  min-height: 100%;
  /* ios blanks space fix */
}
.layout-fixed .wrapper > .aside > .aside-inner {
  position: fixed;
  top: 0;
  bottom: 0;
}
.layout-fixed .wrapper > section {
  margin-top: 114px;
}
@media only screen and (min-width: 768px) {
  .layout-fixed .wrapper > section {
    margin-top: 55px;
  }
}
/* IE10+ hack: safari fix breaks ie so we need to target ie only to restore */
_:-ms-lang(x),
.layout-fixed .wrapper > .aside > .aside-inner {
  position: static !important;
}
@media only screen and (min-width: 992px) {
  .layout-boxed {
    overflow: auto !important;
  }
  .layout-boxed .wrapper {
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
  }
  .layout-boxed .wrapper .offsidebar {
    position: absolute !important;
  }
  .layout-boxed .wrapper > .aside {
    left: inherit;
  }
  .layout-boxed .wrapper,
  .layout-boxed .wrapper .topnavbar-wrapper {
    width: 970px;
  }
  .layout-boxed.layout-fixed .wrapper > .aside > .aside-inner {
    left: inherit;
  }
}
@media only screen and (min-width: 1200px) {
  .layout-boxed .wrapper,
  .layout-boxed .wrapper .topnavbar-wrapper {
    width: 1140px;
  }
}
/* ========================================================================
   Component: layout-extra.less
 ========================================================================== */
.hidden-footer .wrapper > footer {
  display: none;
}
.hidden-footer .wrapper > section {
  margin-bottom: 0 !important;
}
.layout-fs .wrapper > section {
  position: absolute;
  top: 114px;
  left: 0;
  right: 0;
  bottom: 60px;
  height: auto;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 480px) {
  .layout-fs .wrapper > section {
    overflow: hidden;
  }
}
@media only screen and (min-width: 768px) {
  .layout-fs .wrapper > section {
    top: 55px;
  }
}
.layout-fs .wrapper > section > .content-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
}
.layout-fs.hidden-footer .wrapper > section {
  bottom: 0;
}
.d-table,
.d-table-fixed {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 240px;
  border-spacing: 0;
}
.d-table-fixed {
  table-layout: fixed;
}
.d-row {
  display: table-row;
  height: 100%;
}
.d-cell,
.d-cell-wrapper {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: top;
  overflow: auto;
}
.d-cell-wrapper {
  display: block;
}
.d-cell-wrapper .d-cell-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media only screen and (max-width: 767px) {
  .d-table-fixed {
    display: block;
  }
  .d-table-fixed > .d-cell {
    display: block;
    width: auto;
    height: auto;
  }
}
/* Target Firefox only */
@-moz-document url-prefix() {
  .d-table,
  .d-table-desktop {
    height: 240px;
    min-height: 100%;
  }
  .d-cell-inner {
    overflow: auto;
  }
}
.fh {
  height: 100% !important;
}
.fw {
  width: 100% !important;
}
.scroll {
  overflow: auto;
}
.scroll-y {
  overflow-y: auto;
}
.scroll-y {
  overflow-y: auto;
}
.layout-h .wrapper > section {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.layout-h .wrapper > section > .content-wrapper > h3 {
  display: none;
}
.layout-h .wrapper > section {
  margin-top: 0;
}
.layout-h .wrapper > .offsidebar {
  margin-top: 55px;
}
.layout-h .wrapper > footer {
  margin: 0;
}
.layout-h.layout-fixed .wrapper > section,
.layout-h.layout-fixed .wrapper > .offsidebar {
  margin-top: 55px;
}
.aside-float .wrapper {
  box-shadow: 0 0 0 #000;
}
.aside-float .wrapper > footer {
  border: 0;
}
.aside-float .wrapper > .aside {
  padding: 15px 0;
  background: transparent;
}
.aside-float .wrapper > .aside > .aside-inner {
  height: 100%;
  top: 15px;
  bottom: 15px;
  left: inherit;
}
.aside-float .wrapper > .aside .sidebar {
  border: 1px solid #e4eaec;
}
.aside-float .wrapper > .aside .sidebar:after {
  display: none;
}
@media only screen and (min-width: 768px) {
  .aside-float .wrapper > section {
    padding-left: 15px;
  }
  .aside-float .wrapper > footer {
    left: 15px;
  }
}
.aside-float .wrapper .content-wrapper {
  border: 0;
}
.aside-float .wrapper .content-wrapper > h3,
.aside-float .wrapper .content-wrapper > .content-heading {
  padding-top: 30px;
  border: 0;
  background-color: transparent;
}
.aside-float .wrapper .content-wrapper > .unwrap {
  margin: 0 !important;
}
.aside-float.aside-toggled .wrapper > .aside {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.aside-float.aside-toggled .wrapper > .aside > .aside-inner {
  margin-left: 15px;
}
.aside-float.aside-toggled .wrapper > section {
  padding-left: 15px;
}
.aside-float.aside-toggled .wrapper > footer {
  left: 15px;
}
@media only screen and (min-width: 768px) {
  .aside-float.aside-collapsed .topnavbar .navbar-header {
    width: 100px;
  }
  .aside-float.layout-fs .wrapper > section > .content-wrapper {
    padding: 0 0 0 20px;
  }
  .aside-float .wrapper > .aside > .aside-inner {
    margin-left: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .aside-float.layout-boxed .wrapper > .aside > .aside-inner {
    margin-left: 0;
  }
  .aside-float.layout-boxed .wrapper > section {
    padding-left: 0;
  }
}
.aside-float.aside-toggled.layout-fs .wrapper > section > .content-wrapper {
  padding: 0 0 0 20px;
}
/* ========================================================================
   Component: layout-animation.less
 ========================================================================== */
.wrapper > .aside {
  -webkit-transition: width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1);
}
.aside-inner,
.navbar-header,
.sidebar > .nav > li {
  -webkit-transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
.wrapper > section {
  -webkit-transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
.sidebar > .nav .label {
  -webkit-animation: fadeInRight 1s;
  -o-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.aside-collapsed .sidebar > .nav .label {
  -webkit-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.sidebar .nav > li > a {
  -webkit-animation: fadeInLeft 0.5s;
  -o-animation: fadeInLeft 0.5s;
  animation: fadeInLeft 0.5s;
}
.sidebar > .nav > .nav-heading,
.sidebar > .nav > li > a > span,
.navbar-brand .brand-logo {
  -webkit-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.sidebar li > a,
.sidebar li > .nav-item,
.sidebar > .nav > .nav-heading {
  white-space: nowrap;
}
.aside-collapsed .user-block-picture {
  -webkit-transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
.aside-collapsed .user-block {
  -webkit-transition: padding 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: padding 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: padding 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
/* ========================================================================
   Component: top-navbar.less
 ========================================================================== */
.topnavbar {
  -webkit-backface-visibility: hidden;
  /* fixes chrome jump */
  margin-bottom: 0;
  border-radius: 0;
  background-color: #fff;
  z-index: 1050;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-header {
    width: 220px;
    text-align: center;
  }
  .topnavbar .navbar-header .navbar-brand {
    width: 100%;
  }
}
.topnavbar {
  position: relative;
}
.topnavbar .navbar-header {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
  background-image: -o-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
  background-image: linear-gradient(to right, #23b7e5 0%, #51c6ea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff23b7e5', endColorstr='#ff51c6ea', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-header {
    background-image: none;
  }
}
.topnavbar .navbar-header {
  position: relative;
  z-index: 11;
}
.topnavbar .navbar-header .navbar-brand {
  padding: 0;
}
.topnavbar .navbar-header .brand-logo > img,
.topnavbar .navbar-header .brand-logo-collapsed > img {
  margin: 0 auto;
}
.topnavbar .navbar-header .brand-logo {
  display: block;
  padding: 10px 15px;
}
.topnavbar .navbar-header .brand-logo-collapsed {
  display: none;
  padding: 6px 15px;
}
.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a {
  color: #23b7e5;
}
.topnavbar .navbar-nav > li > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > li > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  color: #117391;
}
.topnavbar .navbar-nav > .active > a,
.topnavbar .navbar-nav > .open > a,
.topnavbar .navbar-nav > .active > a:hover,
.topnavbar .navbar-nav > .open > a:hover,
.topnavbar .navbar-nav > .active > a:focus,
.topnavbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  font-size: 16px;
  line-height: 55px;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
    color: #ffffff;
  }
}
@media only screen and (max-width: 767px) {
  .sidebar-toggle {
    position: absolute !important;
    top: 5px;
    right: 0;
    z-index: 3001;
  }
  .sidebar-toggle > em {
    color: white;
  }
}
.nav-wrapper {
  padding: 0 15px;
  background-color: transparent;
}
.nav-wrapper .nav.navbar-nav {
  float: left;
}
.nav-wrapper .nav.navbar-nav.navbar-right {
  float: right;
}
.nav-wrapper .nav > li {
  position: static;
  float: left;
}
.nav-wrapper .navbar-nav .open .dropdown-menu {
  position: absolute;
  background-color: #ffffff;
  left: 0px;
  right: 0px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.topnavbar .navbar-form {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 55px;
  z-index: 9001;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 0;
  border-bottom: 1px solid #e1e2e3;
}
.topnavbar .navbar-form .form-group {
  height: 100%;
  width: 100%;
}
.topnavbar .navbar-form .form-control {
  height: 100%;
  border: 0;
  border-radius: 0;
  width: 100%;
}
.topnavbar .navbar-form.open {
  top: 0;
}
.topnavbar .navbar-form .has-feedback .form-control-feedback {
  height: 30px;
  cursor: pointer;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
  margin-right: 10px;
  color: #c1c2c3;
  font-size: 1.5em;
  pointer-events: auto;
}
@media only screen and (min-width: 768px) {
  .topnavbar .navbar-form {
    left: 220px;
  }
}
@media only screen and (min-width: 768px) {
  .topnavbar {
    border: 0;
    background-color: #23b7e5;
    background-image: -webkit-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
    background-image: -o-linear-gradient(left, #23b7e5 0%, #51c6ea 100%);
    background-image: linear-gradient(to right, #23b7e5 0%, #51c6ea 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff23b7e5', endColorstr='#ff51c6ea', GradientType=1);
  }
  .topnavbar .navbar-header {
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
  }
  .topnavbar .navbar-nav > a {
    box-shadow: 0 0 0 #000 inset;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .topnavbar .navbar-nav > .open > a,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 #19a5d1 inset;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .topnavbar .navbar-nav > li > a,
  .topnavbar .navbar-nav > .open > a {
    color: #ffffff;
  }
  .topnavbar .navbar-nav > li > a:hover,
  .topnavbar .navbar-nav > .open > a:hover,
  .topnavbar .navbar-nav > li > a:focus,
  .topnavbar .navbar-nav > .open > a:focus {
    color: #117391;
  }
  .topnavbar .navbar-nav > li > [data-toggle='navbar-search'] {
    position: static;
  }
  .nav-wrapper {
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    z-index: 10;
  }
  .nav-wrapper:before,
  .nav-wrapper:after {
    content: " ";
    display: table;
  }
  .nav-wrapper:after {
    clear: both;
  }
  .nav-wrapper .nav > li {
    position: relative;
  }
  .nav-wrapper .navbar-nav .open .dropdown-menu {
    left: auto;
    right: auto;
  }
  .nav-wrapper .navbar-nav.navbar-right .open .dropdown-menu {
    left: auto;
    right: 0;
  }
}
@media only screen and (min-width: 768px) {
  .aside-collapsed .topnavbar .navbar-header .brand-logo {
    display: none;
  }
  .aside-collapsed .topnavbar .navbar-header .brand-logo-collapsed {
    display: block;
  }
  .aside-collapsed .topnavbar .navbar-header {
    width: 70px;
  }
  .aside-collapsed .topnavbar .navbar-form {
    left: 70px;
  }
}
/* ========================================================================
   Component: sidebar.less
 ========================================================================== */
.sidebar {
  height: 100%;
  padding-bottom: 20px;
  background-color: #ffffff;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.sidebar:after {
  content: "";
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  -webkit-transform: translateZ(0px);
}
.sidebar .nav-heading {
  padding: 12px 15px;
  color: #919da8;
  font-size: 13px;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
}
.sidebar > .nav {
  position: relative;
}
.sidebar > .nav > .nav-heading:first-child {
  padding-top: 20px;
}
.sidebar > .nav > li {
  border-left: 3px solid transparent;
  -webkit-transition: border-left-color 0.4s ease;
  -o-transition: border-left-color 0.4s ease;
  transition: border-left-color 0.4s ease;
}
.sidebar > .nav > li > a,
.sidebar > .nav > li > .nav-item {
  padding: 12px 24px;
  color: #515253;
  letter-spacing: .025em;
  font-weight: normal;
}
.sidebar > .nav > li > a:focus,
.sidebar > .nav > li > .nav-item:focus,
.sidebar > .nav > li > a:hover,
.sidebar > .nav > li > .nav-item:hover {
  text-decoration: none;
  outline: none;
  color: #23b7e5;
}
.sidebar > .nav > li > a > em,
.sidebar > .nav > li > .nav-item > em {
  width: 1.8em;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: inherits;
}
.sidebar > .nav > li.active,
.sidebar > .nav > li.open,
.sidebar > .nav > li.active > a,
.sidebar > .nav > li.open > a,
.sidebar > .nav > li.active .nav,
.sidebar > .nav > li.open .nav {
  background-color: #fcfcfc;
  color: #23b7e5;
}
.sidebar > .nav > li.active > a > em,
.sidebar > .nav > li.open > a > em {
  color: #23b7e5;
}
.sidebar > .nav > li.active {
  border-left-color: #23b7e5;
}
.sidebar > .nav .label {
  display: block;
}
@media only screen and (min-width: 1025px) {
  .sidebar:not(.show-scrollbar) {
    margin-right: -17px;
    overflow-y: scroll;
  }
}
.sidebar-subnav {
  background-color: #ffffff;
}
.sidebar-subnav > .sidebar-subnav-header {
  color: #515253;
  display: none;
  padding: 10px 20px;
  font-weight: bold;
}
.sidebar-subnav > li {
  border-left: 0 !important;
}
.sidebar-subnav > li > a,
.sidebar-subnav > li > .nav-item {
  display: block;
  position: relative;
  padding: 10px 20px;
  padding-left: 53px;
  font-weight: normal;
  background-color: transparent !important;
  color: #515253;
}
.sidebar-subnav > li > a:focus,
.sidebar-subnav > li > .nav-item:focus,
.sidebar-subnav > li > a:hover,
.sidebar-subnav > li > .nav-item:hover {
  color: #23b7e5;
}
.sidebar-subnav > li > a > em,
.sidebar-subnav > li > .nav-item > em {
  display: inline-block;
  width: 1.8em;
  margin: 0 0 0 -2em;
}
.sidebar-subnav > li.active > a,
.sidebar-subnav > li.active > .nav-item {
  color: #23b7e5;
}
.sidebar-subnav > li.active > a:after,
.sidebar-subnav > li.active > .nav-item:after {
  border-color: #23b7e5;
  background-color: #23b7e5;
}
.sidebar-subnav > li .nav > li {
  padding-left: 5px;
}
.sidebar-subnav.nav-floating {
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-left: -1px;
}
.sidebar-subnav.nav-floating,
.sidebar-subnav.nav-floating .collapse {
  height: auto !important;
  display: block !important;
  visibility: visible !important;
}
.sidebar-subnav.nav-floating > .sidebar-subnav-header {
  display: block;
}
.sidebar-subnav.nav-floating li > a {
  padding-left: 20px;
}
.sidebar-subnav.nav-floating li > a em {
  margin-left: 0;
}
@media only screen and (min-width: 768px) {
  .sidebar > .nav .label {
    margin: 2px 0 0 0;
  }
}
.aside-collapsed .sidebar {
  overflow-x: hidden;
}
.aside-collapsed .sidebar > .nav .nav,
.aside-collapsed .sidebar > .nav > .nav-heading,
.aside-collapsed .sidebar > .nav > li > a > span {
  display: none !important;
}
.aside-collapsed .sidebar > .nav > li {
  width: 68px;
}
.aside-collapsed .sidebar > .nav > li > a,
.aside-collapsed .sidebar > .nav > li > .nav-item {
  text-indent: -3px;
  padding: 20px 0;
  text-align: center;
}
.aside-collapsed .sidebar > .nav > li > a > em,
.aside-collapsed .sidebar > .nav > li > .nav-item > em {
  font-size: 1.6em;
  width: auto;
}
.aside-collapsed .sidebar > .nav > li > a:focus,
.aside-collapsed .sidebar > .nav > li > .nav-item:focus {
  background-color: transparent;
}
.aside-collapsed .sidebar > .nav > li > a:focus > em,
.aside-collapsed .sidebar > .nav > li > .nav-item:focus > em {
  color: inherit;
}
.aside-collapsed .sidebar .nav .label {
  position: absolute;
  top: 10px;
  right: 5px;
  text-indent: 0;
}
/* ========================================================================
   Component: offsidebar.less
 ========================================================================== */
.offsidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 235px;
  margin-top: 114px;
  border-left: 1px solid #cccccc;
  background-color: #ffffff;
  color: #515253;
  z-index: -1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.offsidebar > nav {
  min-height: 100%;
  overflow: hidden;
  -webkit-transform: translateZ(0px);
}
.offsidebar .progress {
  border: 0;
}
.offsidebar .nav > li > a:hover,
.offsidebar .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0.025);
}
.offsidebar .tab-content {
  padding: 0;
  border: 0;
}
.offsidebar .nav-tabs.nav-justified > li > a,
.offsidebar .nav-tabs.nav-justified > li > a:hover,
.offsidebar .nav-tabs.nav-justified > li > a:focus {
  background-color: transparent;
  border: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0;
  color: #909fa7;
}
.offsidebar .nav-tabs.nav-justified > li.active > a {
  color: #5d9cec;
}
@media only screen and (min-width: 768px) {
  .offsidebar {
    margin-top: 55px;
  }
}
.offsidebar-open .offsidebar {
  overflow-y: auto;
  z-index: 116;
}
@media only screen and (min-width: 768px) {
  .offsidebar-open {
    overflow-y: auto;
  }
}
.offsidebar {
  right: -235px;
}
.no-csstransforms3d .offsidebar-open .offsidebar {
  right: 0;
}
/* Transformation ready devices*/
.csstransforms3d .offsidebar {
  right: 0;
  -webkit-transform: translate3d(235px, 0, 0);
  transform: translate3d(235px, 0, 0);
  -webkit-transition: -webkit-transform .3s ease, z-index 0s linear .3s;
  -moz-transition: -moz-transform .3s ease, z-index 0s linear .3s;
  -o-transition: -o-transform .3s ease, z-index 0s linear .3s;
  transition: transform .3s ease, z-index 0s linear .3s;
}
.csstransforms3d .offsidebar-open .offsidebar {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
}
/* ========================================================================
   Component: breadcrumbs.less
 ========================================================================== */
.breadcrumb {
  font-weight: normal;
  border-radius: 0;
  color: #909fa7;
  padding: 10px 20px;
}
h3 + .breadcrumb,
.content-heading + .breadcrumb {
  margin: -25px -25px 20px -20px;
  background-color: #fafbfc;
  border-top: 1px solid #cfdbe2;
  border-bottom: 1px solid #cfdbe2;
}
h3 > .breadcrumb,
.content-heading > .breadcrumb {
  background: transparent;
  font-size: 13px;
  border: 0;
  padding: 10px 10px 0 0;
  margin-bottom: 0;
}
h3 > .breadcrumb.pull-right,
.content-heading > .breadcrumb.pull-right {
  margin: -2px 0 0;
}
/* ========================================================================
   Component: animate.less
 ========================================================================== */
@-webkit-keyframes fadeOutUpShort {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}
@keyframes fadeOutUpShort {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}
.fadeOutUpShort {
  -webkit-animation-name: fadeOutUpShort;
  animation-name: fadeOutUpShort;
}
@-webkit-keyframes fadeInUpShort {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUpShort {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.fadeInUpShort {
  -webkit-animation-name: fadeInUpShort;
  animation-name: fadeInUpShort;
}
@-webkit-keyframes zoomInShort {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomInShort {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    -ms-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  50% {
    opacity: 1;
  }
}
.zoomInShort {
  -webkit-animation-name: zoomInShort;
  animation-name: zoomInShort;
}
@-webkit-keyframes zoomBack {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomBack {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    -ms-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  100% {
    opacity: 0;
  }
}
.zoomBack {
  -webkit-animation-name: zoomBack;
  animation-name: zoomBack;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    -ms-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
/* ========================================================================
   Component: utils.less
 ========================================================================== */
.m0 {
  margin: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.m {
  margin: 10px !important;
}
.ml {
  margin-left: 10px !important;
}
.mr {
  margin-right: 10px !important;
}
.mt {
  margin-top: 10px !important;
}
.mb {
  margin-bottom: 10px !important;
}
.m-sm {
  margin: 5px !important;
}
.ml-sm {
  margin-left: 5px !important;
}
.mr-sm {
  margin-right: 5px !important;
}
.mt-sm {
  margin-top: 5px !important;
}
.mb-sm {
  margin-bottom: 5px !important;
}
.m-lg {
  margin: 15px !important;
}
.ml-lg {
  margin-left: 15px !important;
}
.mr-lg {
  margin-right: 15px !important;
}
.mt-lg {
  margin-top: 15px !important;
}
.mb-lg {
  margin-bottom: 15px !important;
}
.m-xl {
  margin: 30px !important;
}
.ml-xl {
  margin-left: 30px !important;
}
.mr-xl {
  margin-right: 30px !important;
}
.mt-xl {
  margin-top: 30px !important;
}
.mb-xl {
  margin-bottom: 30px !important;
}
.mv {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mh {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mv-lg {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.mh-lg {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.mv-sm {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.mh-sm {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p0 {
  padding: 0 !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.ph0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p {
  padding: 10px !important;
}
.pl {
  padding-left: 10px !important;
}
.pr {
  padding-right: 10px !important;
}
.pt {
  padding-top: 10px !important;
}
.pb {
  padding-bottom: 10px !important;
}
.p-sm {
  padding: 5px !important;
}
.pl-sm {
  padding-left: 5px !important;
}
.pr-sm {
  padding-right: 5px !important;
}
.pt-sm {
  padding-top: 5px !important;
}
.pb-sm {
  padding-bottom: 5px !important;
}
.p-lg {
  padding: 15px !important;
}
.pl-lg {
  padding-left: 15px !important;
}
.pr-lg {
  padding-right: 15px !important;
}
.pt-lg {
  padding-top: 15px !important;
}
.pb-lg {
  padding-bottom: 15px !important;
}
.p-xl {
  padding: 30px !important;
}
.pl-xl {
  padding-left: 30px !important;
}
.pr-xl {
  padding-right: 30px !important;
}
.pt-xl {
  padding-top: 30px !important;
}
.pb-xl {
  padding-bottom: 30px !important;
}
.pv {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.ph {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.pv-xl {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.ph-xl {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.pv-lg {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.ph-lg {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.pv-sm {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.ph-sm {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.b0 {
  border-width: 0 !important;
}
.bl0 {
  border-left-width: 0 !important;
}
.br0 {
  border-right-width: 0 !important;
}
.bt0 {
  border-top-width: 0 !important;
}
.bb0 {
  border-bottom-width: 0 !important;
}
.br {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.bl {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.bt {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.bb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.b,
.ba {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.radius-clear {
  border-radius: 0 !important;
}
.shadow-clear {
  box-shadow: 0 0 0 #000 !important;
}
.text-white {
  color: #fff;
}
.text-inverse {
  color: #131e26;
}
.text-alpha {
  color: rgba(255, 255, 255, 0.5);
}
.text-pink {
  color: #f532e5;
}
.text-purple {
  color: #7266ba;
}
.text-dark {
  color: #3a3f51;
}
.text-alpha-inverse {
  color: rgba(0, 0, 0, 0.5);
}
.text-green {
  color: #37bc9b;
}
.text-yellow {
  color: #fad732;
}
.text-gray-darker {
  color: #232735;
}
.text-gray-dark {
  color: #3a3f51;
}
.text-gray {
  color: #dde6e9;
}
.text-gray-light {
  color: #e4eaec;
}
.text-gray-lighter {
  color: #edf1f2;
}
.text-sm {
  font-size: 11.9px;
}
.text-md {
  font-size: 26.6px;
}
.text-lg {
  font-size: 42px;
}
.text-nowrap {
  white-space: nowrap;
}
.text-thin {
  font-weight: 100 !important;
}
.text-normal {
  font-weight: normal !important;
}
.text-bold {
  font-weight: bold !important;
}
.inline {
  display: inline-block !important;
}
.block-center {
  margin: 0 auto;
}
.bg-primary {
  background-color: #5d9cec;
  color: #ffffff !important;
}
.bg-primary-light {
  background-color: #8bb8f1;
  color: #ffffff !important;
}
.bg-primary-dark {
  background-color: #2f80e7;
  color: #ffffff !important;
}
.bg-primary small {
  color: inherit;
}
.bg-success {
  background-color: #27c24c;
  color: #ffffff !important;
}
.bg-success-light {
  background-color: #43d967;
  color: #ffffff !important;
}
.bg-success-dark {
  background-color: #1e983b;
  color: #ffffff !important;
}
.bg-success small {
  color: inherit;
}
.bg-info {
  background-color: #23b7e5;
  color: #ffffff !important;
}
.bg-info-light {
  background-color: #51c6ea;
  color: #ffffff !important;
}
.bg-info-dark {
  background-color: #1797be;
  color: #ffffff !important;
}
.bg-info small {
  color: inherit;
}
.bg-warning {
  background-color: #ff902b;
  color: #ffffff !important;
}
.bg-warning-light {
  background-color: #ffab5e;
  color: #ffffff !important;
}
.bg-warning-dark {
  background-color: #f77600;
  color: #ffffff !important;
}
.bg-warning small {
  color: inherit;
}
.bg-danger {
  background-color: #f05050;
  color: #ffffff !important;
}
.bg-danger-light {
  background-color: #f47f7f;
  color: #ffffff !important;
}
.bg-danger-dark {
  background-color: #ec2121;
  color: #ffffff !important;
}
.bg-danger small {
  color: inherit;
}
.bg-green {
  background-color: #37bc9b;
  color: #ffffff !important;
}
.bg-green-light {
  background-color: #58ceb1;
  color: #ffffff !important;
}
.bg-green-dark {
  background-color: #2b957a;
  color: #ffffff !important;
}
.bg-green small {
  color: inherit;
}
.bg-pink {
  background-color: #f532e5;
  color: #ffffff !important;
}
.bg-pink-light {
  background-color: #f763eb;
  color: #ffffff !important;
}
.bg-pink-dark {
  background-color: #e90bd6;
  color: #ffffff !important;
}
.bg-pink small {
  color: inherit;
}
.bg-purple {
  background-color: #7266ba;
  color: #ffffff !important;
}
.bg-purple-light {
  background-color: #9289ca;
  color: #ffffff !important;
}
.bg-purple-dark {
  background-color: #564aa3;
  color: #ffffff !important;
}
.bg-purple small {
  color: inherit;
}
.bg-inverse {
  background-color: #131e26;
  color: #ffffff !important;
}
.bg-inverse-light {
  background-color: #243948;
  color: #ffffff !important;
}
.bg-inverse-dark {
  background-color: #020304;
  color: #ffffff !important;
}
.bg-inverse small {
  color: inherit;
}
.bg-yellow {
  background-color: #fad732;
  color: #ffffff !important;
}
.bg-yellow-light {
  background-color: #fbe164;
  color: #ffffff !important;
}
.bg-yellow-dark {
  background-color: #f3ca06;
  color: #ffffff !important;
}
.bg-yellow small {
  color: inherit;
}
.bg-white {
  background-color: #ffffff;
  color: inherit !important;
}
.bg-gray-darker {
  background-color: #232735;
  color: #ffffff !important;
}
.bg-gray-dark {
  background-color: #3a3f51;
  color: #ffffff !important;
}
.bg-gray {
  background-color: #dde6e9;
  color: #515253 !important;
}
.bg-gray-light {
  background-color: #e4eaec;
  color: #515253 !important;
}
.bg-gray-lighter {
  background-color: #edf1f2;
  color: #515253 !important;
}
.bg-cover {
  background-size: cover;
}
.thumb8 {
  width: 8px !important;
  height: 8px !important;
}
.thumb16 {
  width: 16px !important;
  height: 16px !important;
}
.thumb24 {
  width: 24px !important;
  height: 24px !important;
}
.thumb32 {
  width: 32px !important;
  height: 32px !important;
}
.thumb48 {
  width: 48px !important;
  height: 48px !important;
}
.thumb64 {
  width: 64px !important;
  height: 64px !important;
}
.thumb80 {
  width: 80px !important;
  height: 80px !important;
}
.thumb96 {
  width: 96px !important;
  height: 96px !important;
}
.thumb128 {
  width: 128px !important;
  height: 128px !important;
}
.align-middle {
  vertical-align: middle;
}
.align-top {
  vertical-align: top;
}
.align-bottom {
  vertical-align: bottom;
}
.bg-center {
  background-position: center center;
  background-size: cover;
}
.list-icon em {
  font-size: 14px;
  width: 40px;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 30px;
}
.list-icon div:hover em {
  -webkit-transform: scale(3, 3);
  -ms-transform: scale(3, 3);
  -o-transform: scale(3, 3);
  transform: scale(3, 3);
}
.wd-xxs {
  width: 60px;
}
.wd-xs {
  width: 90px;
}
.wd-sm {
  width: 150px;
}
.wd-sd {
  width: 200px;
}
.wd-md {
  width: 240px;
}
.wd-lg {
  width: 280px;
}
.wd-xl {
  width: 320px;
}
.wd-xxl {
  width: 360px;
}
.wd-wide {
  width: 100%;
}
.wd-auto {
  width: auto;
}
.wd-zero {
  width: 0;
}
.label-inverse {
  background-color: #131e26;
}
.label-inverse[href]:hover,
.label-inverse[href]:focus {
  background-color: #020304;
}
.label-green {
  background-color: #37bc9b;
}
.label-green[href]:hover,
.label-green[href]:focus {
  background-color: #2b957a;
}
.label-pink {
  background-color: #f532e5;
}
.label-pink[href]:hover,
.label-pink[href]:focus {
  background-color: #e90bd6;
}
.label-purple {
  background-color: #7266ba;
}
.label-purple[href]:hover,
.label-purple[href]:focus {
  background-color: #564aa3;
}
.alert-purple {
  background-color: #7266ba;
  border-color: #7266ba;
  color: #ffffff;
}
.alert-purple hr {
  border-top-color: #6254b2;
}
.alert-purple .alert-link {
  color: #e6e6e6;
}
.alert-green {
  background-color: #37bc9b;
  border-color: #37bc9b;
  color: #ffffff;
}
.alert-green hr {
  border-top-color: #31a88b;
}
.alert-green .alert-link {
  color: #e6e6e6;
}
.alert-pink {
  background-color: #f532e5;
  border-color: #f532e5;
  color: #ffffff;
}
.alert-pink hr {
  border-top-color: #f41ae2;
}
.alert-pink .alert-link {
  color: #e6e6e6;
}
.alert-inverse {
  background-color: #131e26;
  border-color: #131e26;
  color: #ffffff;
}
.alert-inverse hr {
  border-top-color: #0a1115;
}
.alert-inverse .alert-link {
  color: #e6e6e6;
}
.clickable {
  cursor: pointer;
}
.abs-center-container {
  position: relative;
}
.abs-center {
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.abs-center.abs-fixed {
  position: fixed;
  z-index: 999;
}
.abs-center.abs-right {
  left: auto;
  right: 20px;
  text-align: right;
}
.abs-center.abs-left {
  right: auto;
  left: 20px;
  text-align: left;
}
@media (max-height: 720px) {
  .abs-center {
    position: relative;
  }
}
.link-unstyled {
  text-decoration: none !important;
  outline: none !important;
}
.no-resize {
  resize: none;
  max-width: 100%;
  min-width: 100%;
}
/** 
 * Displays hidden content on hover. Add this class to the parent element.
 * Markup
 *   <div class="hover-visible">
 *    <div class="hover-hidden"></div>
 *   </div>
 */
.hover-visible .hover-hidden {
  display: none;
}
.hover-visible:hover .hover-hidden {
  display: block;
}
.hover-visible:hover .hover-hidden-inline {
  display: inline-block;
}
.media-box,
.media-box-body {
  overflow: hidden;
  zoom: 1;
}
.media-box,
.media-box .media-box {
  margin-top: 15px;
}
.media-box:first-child {
  margin-top: 0;
}
.media-box-object {
  display: block;
}
.media-box-heading {
  margin: 0 0 5px;
}
.media-box > .pull-left {
  margin-right: 10px;
}
.media-box > .pull-right {
  margin-left: 10px;
}
.media-box-list {
  padding-left: 0;
  list-style: none;
}
/* ========================================================================
   Component: print.less
 ========================================================================== */
@media print {
  .sidebar,
  .topnavbar,
  .offsidebar,
  .btn {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
  .wrapper,
  .wrapper > section,
  .content-wrapper {
    margin: 0 !important;
    /* remove margin used for sidebar and expand the content */
    padding: 0 !important;
    width: 100% !important;
  }
  .content-wrapper {
    overflow: hidden !important;
  }
}
